body{
    background-color:#0A192F ;
    font-family: 'Inder', sans-serif;
}
#nav{
display: flex;
margin-left: 10px;
}
#home{
    display:flex
}
#intro1{
    width: 100%;
    font-size: 50px;
}
#content-photo{
    display: flex;
}
#My-photo1{
    margin-left: 280px;
}
#My-photo{
    width: 100%;
    height:300px;
    opacity: 0.5;
    
}



#logo{
    height: 50px;
    margin-right: 100px;
    margin-left: 40px;
    }
.push{
    position: fixed;
}

#logo-pic{
    height: 50px;
    width:50px

}
#logo-words{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 100px;
    
}
.noun{
    margin-left: 50px;
    margin-right:30px ;
    
}
a{
    text-decoration: none;
    color:white;

}
a:hover{
    color:green
}
#butn{
    margin-left: 200px;
    margin-top: 18px;
    align-items: center;
   
}
.butn{
    background-color: #0A192F;
    border:1px solid #14F1A2 ;
    color: #14F1A2;
    border-radius: 5px;
    padding: 10px;
    width:120px
}
/*Home page beginning*/
#home{
    margin-left: 100px;
}
#greet{
    color:#14F1A2
}
#name{
    color: #CCD6F6;
}
#intro1{
    color:#8892B0
}
#introword{
    color:white;
}
#btn2{
    color:#14F1A2 ;
    background-color: #0A192F;
    border: 1px solid #14F1A2;
    border-radius:5px;
    padding: 10px;
   margin-left: 100px;
    width: 220px;
}
/*THis ABOUT SECTION*/
#About{
    margin-left: 100px;
}
#About-small{
    display: flex;
}
#Progra-language{
    display: flex;   
}
#line-up{
    margin-left: 2px;
    margin-top: 5px;
}
.list{
    list-style: none;
}

.list li::before{
    content:"\2713";
    color:#14F1A2;
    margin-right:10px;
    font-size: 30px;
}

/*This is Experiance section*/
hr{
    width: 500px;
    color:#CCD6F6;
    margin-top: 30px;
    margin-left: 10px;
}
.line-id{
    margin-top: 5px;
}
.part-intro{
    display: flex;
}
#work{
    display: flex;
}
#work1{
    display:flex;
}
#experiance{
    margin-left: 100px;
}
#tatoria{
    margin-right:20px
}
#tatoria1{
    margin-left: 20px;
}
#duration{
    margin-left: 125px;
}
#rha{
    margin-right: 100px;
}
/*this section is about "some things i have built"*/
#work-intro{
    display: flex;
}
#code-photo-background{
    background-color:#112240 ;
    margin-left: 0px;
}

#code-photo{
    height: 300px;
    width: 600px;
    margin-top: 50px; 
    padding-left: 50px;  
}
#work-photo{
    margin-left:100px;
    
}
#what-built{
    display: flex;
}
#Explaination-project{
    margin-top: 20px;
    margin:50px -200px 20px -50px;
    
}
#first-words{
    margin-left: 240px;
}

.project-details{
    /*border: 2px solid #8892B0;*/
    width: 355px;
    height:100px;
    background-color:#112240 ; 
}
#detail-p{
    padding-left: 50px;
}

/*What's next section*/
#what-next{
    margin-left:100px ;
}
#say-hello{
    margin-left: 450px;
}
#say{
    border-radius: 5px;
    padding: 20px;
    border:1px solid #14F1A2;
    width:200px;
    
  
}
/*This is footer sectio*/
#footer{
    background-color: #8892B0;
    display: flex;
    width:100.5%;
    margin-right:0px
    padding:0px
    
    
}
#footer1{
    display: flex;
    margin-right: 300px;
    margin-left: 50px;
}
#footer2{
    display: flex;
    
}
#email{
    margin-right: 50px;
}
/*This is the form */
#messege{
    align-items:center;
}
#form{
    margin-left: 100px;
}

.butn:hover{
    border-color: #8892B0;
    color:blue;
}
#form-butn{
    margin-left: 300px;
}

/*modification to put email and line on sides*/
.vl {
    border-left: 3px solid #8892B0;
    height: 200px;
    position: fixed;
    left: 5%;
    margin-left: px;
    top: 130px;
}


.vl1{
    border-left: 3px solid #8892B0;
    height: 200px;
    position: fixed;
    right: 5%;
    margin-left: px;
    top: 130px;
}

/*aDDING EMAIL ON THE SIDES*/

#email1{
    writing-mode: vertical-rl;
    position: fixed;
    left: 3.7%;
    top: 350px;
    font-size: 10px;
}

#email2{
    writing-mode:vertical-lr;
    position: fixed;
    right: 3.7%;
    margin-left: px;
    top: 350px;
    font-size: 10px;
}